#commencer:hover{
    background-color: violet;
    color: white;

}
#connecter:hover{
    color: violet;
    border: 1px solid violet;
}
#navbar:hover{
    color: violet;
    text-decoration: underline;
}
#hover:hover{
    background-color: black;
}